@page "/locations"
@using PubCrawlMarch23
@using PubCrawlMarch23.Locations;
@using System.Diagnostics;

<PageTitle>Locations</PageTitle>

<MudStack>

    <!-- Header -->
    <MudPaper Class="pa-4">
        <MudStack Row="true">
            <MudImage Src="images/icon.png" Alt="Core Pub Crawl Icon" Elevation="25" Class="rounded-lg" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.h2">LOCATIONS</MudText>
            </MudStack>
        </MudStack>
    </MudPaper>

    @if (vm.PageView == PageViewEnum.List)
    {
        <MudPaper Class="pa-4">           
            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Is Enabled</th>
                        <th></th>
                        <th>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="vm.AddNewItem" Size="Size.Medium">Add New</MudButton>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in vm.Locations)
                    {
                        <tr>
                            <td><MudLink @onclick="() => vm.EditItem(row)">@row.Name</MudLink></td>
                            <td>@(row.IsActive ? "Yes" : "No")</td>
                            <td>
                                @if (vm.CanMoveUp(row))
                                {
                                    <MudLink @onclick="() => vm.MoveUp(row)"><MudIcon Icon="@Icons.Material.Filled.ArrowCircleUp" Title="Move Up" /></MudLink>
                                }
                            </td>
                            <td>
                                @if (vm.CanMoveDown(row))
                                {
                                    <MudLink @onclick="() => vm.MoveDown(row)"><MudIcon Icon="@Icons.Material.Filled.ArrowCircleDown" Title="Move Down" /></MudLink>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
        </MudSimpleTable>
        </MudPaper>
    }
    else
    {
        if (vm.Errors.Any())
        {
            <MudPaper Class="pa-4">
                <MudAlert Severity="Severity.Error" Variant="Variant.Outlined">
                    @foreach (var error in vm.Errors)
                    {
                        <MudText>@error</MudText>
                    }
                </MudAlert>
            </MudPaper>            
        }

        <MudPaper Class="pa-4">
            <MudStack>
                <MudTextField T="string" Label="@vm.LocationNameDisplay" MaxLength="50" Counter="50" Required="true" RequiredError="Please enter a Location" @bind-value="vm.LocationName" Immediate="true" />
                
                <MudText Typo="Typo.caption">Is Enabled?</MudText>
                <MudSwitch @bind-Checked="@vm.IsActive" Color="Color.Primary" />

                <MudStack Row="true">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="vm.OnSave">Save</MudButton>
                    @if (vm.PageView == PageViewEnum.Edit)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="vm.OnDelete">Permanent Delete</MudButton>
                    }
                    <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="vm.Cancel">Cancel</MudButton>
                </MudStack>
            </MudStack>
        </MudPaper>
    }

</MudStack>

@code {
    private LocationViewModel vm = new();
}
